@font-face {
	src: url("Polytype - PleufPro-Light.otf");
	font-family: Pleuf Pro;
	font-weight: 300;
}

@font-face {
	src: url("Polytype - PleufPro-Regular.otf");
	font-family: Pleuf Pro;
	font-weight: 400;
}

@font-face {
	src: url("Polytype - PleufPro-Medium.otf");
	font-family: Pleuf Pro;
	font-weight: 500;
}

@font-face {
	src: url("Polytype - PleufPro-Bold.otf");
	font-family: Pleuf Pro;
	font-weight: 600;
}



/*
@font-face {
	src: url("Polytype - Pleuf Pro Light Italic.otf");
	font-family: Pleuf Pro;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url("Polytype - Pleuf Pro Italic.otf");
	font-family: Pleuf Pro;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("Polytype - Pleuf Pro Medium Italic.otf");
	font-family: Pleuf Pro;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url("Polytype - Pleuf Pro Bold Italic.otf");
	font-family: Pleuf Pro;
	font-weight: 600;
	font-style: italic;
}
*/