.transition {transition: .2s;}

._center {
	margin-left: auto;
	margin-right: auto;
}

.txt-center {text-align: center;}

.txt-light {font-weight: 300 !important;}
.txt-regular {font-weight: 400 !important;}
.txt-semibold {font-weight: 500 !important;}
.txt-bold {font-weight: 600 !important;}

.txt-shadow {text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);}

.font-smoothing {
	font-smooth: 2em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.darken-layer {
	background: rgba(0,0,0, .4);
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// *******************
// *  Main Elements  * - only view, not positioning
// *******************

.main-title {
	@extend .txt-semibold;
	font-family: Pleuf Pro;
	font-size: 70px;
	color: #fff;
}

/* Buttons */
.reset-for-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.reset-for-btn:focus {background-color: transparent;}

.default-btn {
	@extend .transition, .reset-for-btn, .txt-semibold;
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
}
.underline-btn {
	@extend .default-btn;
	border-bottom: 2px solid #fff;
	padding: 0 3px;
}
.border-btn {
	@extend .default-btn;
	border-radius: 50px;
	border: 2px solid #fff;
	padding: 3px 15px;
}
/* end Buttons */