// colors
$grey-darken-1: #545e65;
$grey: #64637c;
$grey-lighten-1: #9291a3;
$grey-lighten-2: #a2b4bc;
$grey-lighten-3: #cccfd1;
@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
      -ms-box-sizing: $value;
          box-sizing: $value;
}
.transition {transition: .2s;}

._center {
	margin-left: auto;
	margin-right: auto;
}

.txt-center {text-align: center;}

.txt-light {font-weight: 300 !important;}
.txt-regular {font-weight: 400 !important;}
.txt-semibold {font-weight: 500 !important;}
.txt-bold {font-weight: 600 !important;}

.txt-shadow {text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);}

.font-smoothing {
	font-smooth: 2em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.darken-layer {
	background: rgba(0,0,0, .4);
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// *******************
// *  Main Elements  * - only view, not positioning
// *******************

.main-title {
	@extend .txt-semibold;
	font-family: Pleuf Pro;
	font-size: 70px;
	color: #fff;
}

/* Buttons */
.reset-for-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.reset-for-btn:focus {background-color: transparent;}

.default-btn {
	@extend .transition, .reset-for-btn, .txt-semibold;
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
}
.underline-btn {
	@extend .default-btn;
	border-bottom: 2px solid #fff;
	padding: 0 3px;
}
.border-btn {
	@extend .default-btn;
	border-radius: 50px;
	border: 2px solid #fff;
	padding: 3px 15px;
}
/* end Buttons */
html,
body { height: 100%; }

body {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}



* {
	@include box-sizing(border-box);
	@extend .font-smoothing;
}




/* Header */
.header {
	position: relative;
	background: url(../img/h-bg.png) bottom center no-repeat;
	background-size: cover;
	width: 100%;
	height: 98px;

	&#{__logo} {
		@extend ._center;
		position: relative;
		z-index: 1;
		display: block;
		width: 255px;
		height: 95px;
		background: #ffcc80;
		border-radius: 0 0 25px 25px;

		img {
			width: 200px;
			height: auto;
			margin: 0 auto;
			position: relative;
			top: 17px;
			left: -2px;
			display: block;
		}
	}

	&#{__buttons} {
		position: absolute;
		z-index: 0;
		width: 100%;
		padding: 26px 90px;
	}

	&#{__left-btn} {
		@extend .underline-btn;
	}
	&#{__signup-btn} {
		@extend .border-btn;
		float: right;
	}
	&#{__login-btn} {
		@extend .default-btn;
		float: right;
		margin: 4px 0 0 3px;
	}
}
/* end Header */



/* 1 Home screen */
.home-screen {
	height: 100%;
	background: url(../img/bg-1.jpg) bottom left no-repeat;
	background-size: cover;

	&#{__inside} {
		position: relative;
		z-index: 1;
	}

	&#{__title} {
		@extend .main-title, .txt-center;
		margin-top: 190px;
	}

	&#{__button} {
		@extend ._center;
		display: table;
		transition: .3s;
		text-transform: uppercase;
		border: 3px solid #d3104d;
		background: rgba(0,0,0, .40);
		border-radius: 100px;
		font-weight: 500;
		font-size: 30px;
		color: #fff;
		padding: 7px 35px;
		margin-top: 60px;
	}
	&#{__button}:focus {background: transparent;}
	&#{__button}:hover {border-color: #e3104d; background: rgba(0,0,0, .0);}
	&#{__button}:active {background: rgba(0,0,0, .5);}

	&#{__darken-layer} {
		@extend .darken-layer;
	}
}
/* end 1 Home screen */



/* 2 Choosee Ingredients screen */
.choose-screen {
	width: 100%;
	height: 100%;
	background: url(../img/light-amber-pattern.png) top left repeat;

	&#{__title} {
		@extend .main-title, .txt-shadow;
		font-size: 60px;
		text-align: center;
		color: $grey;
		margin-top: 0;
		padding-top: 30px;
	}
}
.tag-box {
	&#{__tag} {
		height: 34px;
		padding: 3px 7px 0 15px;
		background: rgba(0,0,0, .5);
		float: left;
		color: #fff;
		border-radius: 30px;
		margin: 0 3px;

		.activate-tag-btn {
			@extend .reset-for-btn;
			padding: 0;
			line-height: 0;
			height: 100%;
		}
		.tag-name {
			padding-right: 7px;
			margin-right: 3px;
			border-right: 1px solid #aaa;
		}
		.tag-quantity {}
		.tag-mesure {margin-right: 4px;}

		.close-btn {
			@extend .reset-for-btn;
			padding: 0;
			border-radius: 50%;
			width: 23px;
			height: 23px;
			position: relative;
			top: -2px;
		}
		.close-btn:hover,
		.close-btn:active,
		.close-btn:focus {background: rgba(#000, .4);}

		.close-btn i {
			font-size: 15px;
			position: relative;
			top: 3px;
		}
	}
	&#{__tag_active} {
		background: #fff;
		color: #333;

		.tag-name {border-right: 1px solid #e7e7e7;}

		.close-btn:hover,
		.close-btn:active,
		.close-btn:focus {color: #fff;}
	}
}
/* end 2 Choosee Ingredients screen */



/* General Styles */
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none !important;
		margin: 0 !important;
	}
/* end General Styles */



/* Adds to Materialize.css */
	.modal {
		top: 0 !important;
		max-height: 100% !important;
	}
	.modal-content {
		height: 100%;
	}

	@media only screen and (min-width: 993px) {
		.container {
		    width: 80%;
		}
	}

	.select-wrapper span.caret {
		font-size: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: #b4b8bb transparent transparent transparent;
		display: inline-block;
		cursor: pointer;
	}


	[type="radio"] + label,
	[type="checkbox"] + label {
		color: #545e65 !important;
		padding-left: 25px;
		margin-right: 20px;
	}

	[type="checkbox"]+label:before,
	[type="checkbox"]:not(.filled-in)+label:after {
		border-radius: 3px;
	}
/* end Adds to Materialize.css */