.transition, .default-btn, .underline-btn, .header__left-btn, .border-btn, .header__signup-btn, .header__login-btn {
  transition: .2s; }

._center, .header__logo, .home-screen__button {
  margin-left: auto;
  margin-right: auto; }

.txt-center, .home-screen__title {
  text-align: center; }

.txt-light {
  font-weight: 300 !important; }

.txt-regular {
  font-weight: 400 !important; }

.txt-semibold, .main-title, .home-screen__title, .choose-screen__title, .default-btn, .underline-btn, .header__left-btn, .border-btn, .header__signup-btn, .header__login-btn {
  font-weight: 500 !important; }

.txt-bold {
  font-weight: 600 !important; }

.txt-shadow, .choose-screen__title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.font-smoothing, * {
  font-smooth: 2em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.darken-layer, .home-screen__darken-layer {
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.main-title, .home-screen__title, .choose-screen__title {
  font-family: Pleuf Pro;
  font-size: 70px;
  color: #fff; }

/* Buttons */
.reset-for-btn, .default-btn, .underline-btn, .header__left-btn, .border-btn, .header__signup-btn, .header__login-btn, .tag-box__tag .activate-tag-btn, .tag-box__tag .close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.reset-for-btn:focus, .default-btn:focus, .underline-btn:focus, .header__left-btn:focus, .border-btn:focus, .header__signup-btn:focus, .header__login-btn:focus, .tag-box__tag .activate-tag-btn:focus, .tag-box__tag .close-btn:focus {
  background-color: transparent; }

.default-btn, .underline-btn, .header__left-btn, .border-btn, .header__signup-btn, .header__login-btn {
  text-transform: uppercase;
  font-size: 17px;
  color: #fff; }

.underline-btn, .header__left-btn {
  border-bottom: 2px solid #fff;
  padding: 0 3px; }

.border-btn, .header__signup-btn {
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 3px 15px; }

/* end Buttons */
html,
body {
  height: 100%; }

body {
  font-family: Roboto;
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* Header */
.header {
  position: relative;
  background: url(../img/h-bg.png) bottom center no-repeat;
  background-size: cover;
  width: 100%;
  height: 98px; }
  .header__logo {
    position: relative;
    z-index: 1;
    display: block;
    width: 255px;
    height: 95px;
    background: #ffcc80;
    border-radius: 0 0 25px 25px; }
    .header__logo img {
      width: 200px;
      height: auto;
      margin: 0 auto;
      position: relative;
      top: 17px;
      left: -2px;
      display: block; }
  .header__buttons {
    position: absolute;
    z-index: 0;
    width: 100%;
    padding: 26px 90px; }
  .header__signup-btn {
    float: right; }
  .header__login-btn {
    float: right;
    margin: 4px 0 0 3px; }

/* end Header */
/* 1 Home screen */
.home-screen {
  height: 100%;
  background: url(../img/bg-1.jpg) bottom left no-repeat;
  background-size: cover; }
  .home-screen__inside {
    position: relative;
    z-index: 1; }
  .home-screen__title {
    margin-top: 190px; }
  .home-screen__button {
    display: table;
    transition: .3s;
    text-transform: uppercase;
    border: 3px solid #d3104d;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    padding: 7px 35px;
    margin-top: 60px; }
  .home-screen__button:focus {
    background: transparent; }
  .home-screen__button:hover {
    border-color: #e3104d;
    background: transparent; }
  .home-screen__button:active {
    background: rgba(0, 0, 0, 0.5); }

/* end 1 Home screen */
/* 2 Choosee Ingredients screen */
.choose-screen {
  width: 100%;
  height: 100%;
  background: url(../img/light-amber-pattern.png) top left repeat; }
  .choose-screen__title {
    font-size: 60px;
    text-align: center;
    color: #64637c;
    margin-top: 0;
    padding-top: 30px; }

.tag-box__tag {
  height: 34px;
  padding: 3px 7px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  color: #fff;
  border-radius: 30px;
  margin: 0 3px; }
  .tag-box__tag .activate-tag-btn {
    padding: 0;
    line-height: 0;
    height: 100%; }
  .tag-box__tag .tag-name {
    padding-right: 7px;
    margin-right: 3px;
    border-right: 1px solid #aaa; }
  .tag-box__tag .tag-mesure {
    margin-right: 4px; }
  .tag-box__tag .close-btn {
    padding: 0;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
    top: -2px; }
  .tag-box__tag .close-btn:hover,
  .tag-box__tag .close-btn:active,
  .tag-box__tag .close-btn:focus {
    background: rgba(0, 0, 0, 0.4); }
  .tag-box__tag .close-btn i {
    font-size: 15px;
    position: relative;
    top: 3px; }
.tag-box__tag_active {
  background: #fff;
  color: #333; }
  .tag-box__tag_active .tag-name {
    border-right: 1px solid #e7e7e7; }
  .tag-box__tag_active .close-btn:hover,
  .tag-box__tag_active .close-btn:active,
  .tag-box__tag_active .close-btn:focus {
    color: #fff; }

/* end 2 Choosee Ingredients screen */
/* General Styles */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important; }

/* end General Styles */
/* Adds to Materialize.css */
.modal {
  top: 0 !important;
  max-height: 100% !important; }

.modal-content {
  height: 100%; }

@media only screen and (min-width: 993px) {
  .container {
    width: 80%; } }
.select-wrapper span.caret {
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #b4b8bb transparent transparent transparent;
  display: inline-block;
  cursor: pointer; }

[type="radio"] + label,
[type="checkbox"] + label {
  color: #545e65 !important;
  padding-left: 25px;
  margin-right: 20px; }

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
  border-radius: 3px; }

/* end Adds to Materialize.css */

/*# sourceMappingURL=all.css.map */
