@font-face {
	src: url("Roboto-Light.ttf");
	font-family: Roboto;
	font-weight: 300;
}

@font-face {
	src: url("Roboto-Regular.ttf");
	font-family: Roboto;
	font-weight: 400;
}

@font-face {
	src: url("Roboto-Medium.ttf");
	font-family: Roboto;
	font-weight: 500;
}

@font-face {
	src: url("Roboto-Bold.ttf");
	font-family: Roboto;
	font-weight: 600;
}



/*
@font-face {
	src: url("Roboto-LightItalic.ttf");
	font-family: Roboto;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url("Roboto-RegularItalic.ttf");
	font-family: Roboto;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("Roboto-MediumItalic.ttf");
	font-family: Roboto;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url("Roboto-BoldItalic.ttf");
	font-family: Roboto;
	font-weight: 600;
	font-style: italic;
}
*/